<div class="card text-center">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
    <h3> {{ user.user.username }} </h3>
    <br> <img [src]="user.user.profile_pic_url" alt="..." class="img-thumbnail">
    </div> 
    <span> <p> {{ user.user.full_name }}</p></span>
    <br>
    <span> <p> {{ user.user.biography }}</p></span>
    <br>
    <div class="row">
        <div class="col-sm">
            Followers: {{ user.user.follower_count }}
        </div>
        <div class="col-sm">
            Following: {{ user.user.following_count }}
        </div>
    </div>
    <br>
    <div class="card-footer">
    </div>
</div>