<app-navbar></app-navbar>
<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="col-lg-6 input-alignment">
        <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
          <div class="input-group input-group-alternative">
            <input class="form-control" [(ngModel)]="keyword" name="keyword" placeholder="Search Instagram" type="text" (focus)="focus=true" (blur)="focus=false">
          </div>
        </div>
      </div>
      <div class="col-lg-6 button-alignment">
        <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
          <div class="text-center">
            <button type="button" class="btn btn-primary my-4" (click)="search()">Search</button>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container search-container">
        <div class="row content-row">
          <div class="col-lg-3 card" *ngFor="let user of users">
            <div class="row">
              <div class="col-lg-4">
                <img class="profile-img" [src]="user.user.profile_pic_url" />
              </div>
              <div class="col-lg-8">
                <h6>{{ user.user.username }}</h6>
                <p>{{ user.user.full_name }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
<app-footer></app-footer>